In [2]:
import pandas as pd

df = pd.read_csv('LADECv1-2019.csv')
df

,id_master,c1,c2,stim,obs,obsc1,obsc2,stimlen,c1len,c2len,...,Juhasz_tran,st_c1_mean,st_c2_mean,Zipfvalue,c1_SLlg10wf,c2_SLlg10wf,c1_BLPbncfrequency,c1_BLPbncfrequencymillion,c2_BLPbncfrequency,c2_BLPbncfrequencymillion
0,3237,gad,about,gadabout,1,4,3,8,3,5,...,NaN,NaN,NaN,1.768955,1.4314,5.2677,28.0,0.280000,197116.0,1971.160000
1,4592,knock,about,knockabout,1,3,4,10,5,5,...,NaN,NaN,NaN,1.592864,3.5185,5.2677,1975.0,19.750000,197116.0,1971.160000
2,8231,turn,about,turnabout,1,19,7,9,4,5,...,NaN,4.452,2.813,2.333227,4.1940,5.2677,21026.0,210.259990,197116.0,1971.160000
3,6139,race,about,raceabout,1,4,1,9,4,5,...,NaN,NaN,NaN,NaN,3.4994,5.2677,7959.0,79.589996,197116.0,1971.160000
4,8331,walk,about,walkabout,1,2,5,9,4,5,...,NaN,4.594,2.733,2.246077,4.0418,5.2677,10441.0,104.410000,197116.0,1971.160000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8951,4515,junk,yards,junkyards,1,1,10,9,4,5,...,NaN,NaN,NaN,1.592864,2.8949,2.8814,623.0,6.230000,3678.0,36.779999
8952,6812,ship,yards,shipyards,1,10,9,9,4,5,...,NaN,NaN,NaN,2.570588,3.7028,2.8814,4729.0,47.290001,3678.0,36.779999
8953,2667,farm,yards,farmyards,1,10,6,9,4,5,...,NaN,NaN,NaN,1.592864,3.1855,2.8814,6913.0,69.129997,3678.0,36.779999
8954,1007,brick,yards,brickyards,1,8,12,10,5,5,...,NaN,NaN,NaN,NaN,2.7160,2.8814,1861.0,18.610001,3678.0,36.779999
8955,8892,zig,zag,zigzag,1,1,1,6,3,3,...,NaN,NaN,NaN,2.672045,1.3424,1.0414,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['id_master', 'c1', 'c2', 'stim', 'obs', 'obsc1', 'obsc2', 'stimlen',
       'c1len', 'c2len', 'nparses', 'correctParse', 'ratingcmp', 'ratingC1',
       'ratingC2', 'isPlural', 'nc1_cmp', 'nc2_cmp', 'nc1_cmpnoplural',
       'nc2_cmpnoplural', 'sentiment_stim', 'sentiment_c1', 'sentiment_c2',
       'sentimentprobpos_stim', 'sentimentprobpos_c1', 'sentimentprobpos_c2',
       'sentimentprobneg_stim', 'sentimentprobneg_c1', 'sentimentprobneg_c2',
       'sentimentratioposneg_stim', 'sentimentratioposneg_c1',
       'sentimentratioposneg_c2', 'profanity_stim', 'profanity_c1',
       'profanity_c2', 'isCommonstim', 'isCommonC1', 'isCommonC2',
       'bg_boundary', 'bgJonesMewhort', 'bgSUBTLEX', 'bgFacebook', 'inSUBTLEX',
       'inBLP', 'inELP', 'inJuhaszLaiWoodcock', 'c1_inELP', 'c1_inBrysbaert',
       'c1_inWordnet', 'c1_inMMA', 'c2_inELP', 'c2_inBrysbaert',
       'c2_inWordnet', 'c2_inMMA', 'LSAc1c2', 'LSAc1stim', 'LSAc2stim',
       'stim_SLlg10wf', 'BLPbncfrequency', 'BLPbncfrequencymillion', 'BLPrt',
       'elp_ld_rt', 'elp_naming_mean_rt', 'c1c2_snautCos', 'c1stim_snautCos',
       'c2stim_snautCos', 'fbusfreq', 'fbukfreq', 'valence_stim', 'valence_c1',
       'valence_c2', 'concreteness_stim', 'concreteness_c1', 'concreteness_c2',
       'Juhasz_tran', 'st_c1_mean', 'st_c2_mean', 'Zipfvalue', 'c1_SLlg10wf',
       'c2_SLlg10wf', 'c1_BLPbncfrequency', 'c1_BLPbncfrequencymillion',
       'c2_BLPbncfrequency', 'c2_BLPbncfrequencymillion'],
      dtype='object')

In [4]:
df['isPlural'].value_counts()

0    6017
1    2939
Name: isPlural, dtype: int64

In [6]:
df_singular = df[df['isPlural'] == 0]
df_singular.sort_values(by='stim_SLlg10wf', ascending=False)[['stim', 'stim_SLlg10wf', 'BLPbncfrequencymillion', 'fbusfreq', 'fbukfreq']].head(10)

            stim  stim_SLlg10wf  BLPbncfrequencymillion  fbusfreq   fbukfreq
5324     someone         4.3570              186.810000  763494.3   641109.6
979     somebody         4.2448                     NaN  168947.0    47586.5
1437     goodbye         3.7740               14.880000   32904.2    50281.4
8372   somewhere         3.7550               70.260002   59616.3    64377.2
2024    birthday         3.6954               32.470001  745402.4  1264823.8
5248   afternoon         3.6690                     NaN   92146.9   233438.4
2783  girlfriend         3.5891               11.740000   68411.1    72770.0
2784   boyfriend         3.5664               10.930000   83853.7    78783.8
3316    bullshit         3.5488                1.480000   83515.7    38659.6
6614    bullshit         3.5488                1.480000   83515.7    38659.6

In [7]:
in_corpus_columns = [col for col in df_singular.columns if col.startswith('in')]
in_corpus_columns

['inSUBTLEX', 'inBLP', 'inELP', 'inJuhaszLaiWoodcock']

In [8]:
df_singular[in_corpus_columns].describe()

         inSUBTLEX        inBLP        inELP  inJuhaszLaiWoodcock
count  6017.000000  6017.000000  6017.000000          6017.000000
mean      0.584344     0.280705     0.435765             0.083430
std       0.492876     0.449381     0.495898             0.276554
min       0.000000     0.000000     0.000000             0.000000
25%       0.000000     0.000000     0.000000             0.000000
50%       1.000000     0.000000     0.000000             0.000000
75%       1.000000     1.000000     1.000000             0.000000
max       1.000000     1.000000     1.000000             1.000000