In [1]:
import pandas as pd

df = pd.read_csv('LADECv1-2019.csv')
df

,id_master,c1,c2,stim,obs,obsc1,obsc2,stimlen,c1len,c2len,...,Juhasz_tran,st_c1_mean,st_c2_mean,Zipfvalue,c1_SLlg10wf,c2_SLlg10wf,c1_BLPbncfrequency,c1_BLPbncfrequencymillion,c2_BLPbncfrequency,c2_BLPbncfrequencymillion
0,3237,gad,about,gadabout,1,4,3,8,3,5,...,NaN,NaN,NaN,1.768955,1.4314,5.2677,28.0,0.280000,197116.0,1971.160000
1,4592,knock,about,knockabout,1,3,4,10,5,5,...,NaN,NaN,NaN,1.592864,3.5185,5.2677,1975.0,19.750000,197116.0,1971.160000
2,8231,turn,about,turnabout,1,19,7,9,4,5,...,NaN,4.452,2.813,2.333227,4.1940,5.2677,21026.0,210.259990,197116.0,1971.160000
3,6139,race,about,raceabout,1,4,1,9,4,5,...,NaN,NaN,NaN,NaN,3.4994,5.2677,7959.0,79.589996,197116.0,1971.160000
4,8331,walk,about,walkabout,1,2,5,9,4,5,...,NaN,4.594,2.733,2.246077,4.0418,5.2677,10441.0,104.410000,197116.0,1971.160000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8951,4515,junk,yards,junkyards,1,1,10,9,4,5,...,NaN,NaN,NaN,1.592864,2.8949,2.8814,623.0,6.230000,3678.0,36.779999
8952,6812,ship,yards,shipyards,1,10,9,9,4,5,...,NaN,NaN,NaN,2.570588,3.7028,2.8814,4729.0,47.290001,3678.0,36.779999
8953,2667,farm,yards,farmyards,1,10,6,9,4,5,...,NaN,NaN,NaN,1.592864,3.1855,2.8814,6913.0,69.129997,3678.0,36.779999
8954,1007,brick,yards,brickyards,1,8,12,10,5,5,...,NaN,NaN,NaN,NaN,2.7160,2.8814,1861.0,18.610001,3678.0,36.779999
8955,8892,zig,zag,zigzag,1,1,1,6,3,3,...,NaN,NaN,NaN,2.672045,1.3424,1.0414,NaN,NaN,NaN,NaN

In [2]:
df.columns

Index(['id_master', 'c1', 'c2', 'stim', 'obs', 'obsc1', 'obsc2', 'stimlen',
       'c1len', 'c2len', 'nparses', 'correctParse', 'ratingcmp', 'ratingC1',
       'ratingC2', 'isPlural', 'nc1_cmp', 'nc2_cmp', 'nc1_cmpnoplural',
       'nc2_cmpnoplural', 'sentiment_stim', 'sentiment_c1', 'sentiment_c2',
       'sentimentprobpos_stim', 'sentimentprobpos_c1', 'sentimentprobpos_c2',
       'sentimentprobneg_stim', 'sentimentprobneg_c1', 'sentimentprobneg_c2',
       'sentimentratioposneg_stim', 'sentimentratioposneg_c1',
       'sentimentratioposneg_c2', 'profanity_stim', 'profanity_c1',
       'profanity_c2', 'isCommonstim', 'isCommonC1', 'isCommonC2',
       'bg_boundary', 'bgJonesMewhort', 'bgSUBTLEX', 'bgFacebook', 'inSUBTLEX',
       'inBLP', 'inELP', 'inJuhaszLaiWoodcock', 'c1_inELP', 'c1_inBrysbaert',
       'c1_inWordnet', 'c1_inMMA', 'c2_inELP', 'c2_inBrysbaert',
       'c2_inWordnet', 'c2_inMMA', 'LSAc1c2', 'LSAc1stim', 'LSAc2stim',
       'stim_SLlg10wf', 'BLPbncfrequency', 'BLPbncfrequencymillion', 'BLPrt',
       'elp_ld_rt', 'elp_naming_mean_rt', 'c1c2_snautCos', 'c1stim_snautCos',
       'c2stim_snautCos', 'fbusfreq', 'fbukfreq', 'valence_stim', 'valence_c1',
       'valence_c2', 'concreteness_stim', 'concreteness_c1', 'concreteness_c2',
       'Juhasz_tran', 'st_c1_mean', 'st_c2_mean', 'Zipfvalue', 'c1_SLlg10wf',
       'c2_SLlg10wf', 'c1_BLPbncfrequency', 'c1_BLPbncfrequencymillion',
       'c2_BLPbncfrequency', 'c2_BLPbncfrequencymillion'],
      dtype='object')

In [3]:
df['isPlural'].value_counts()

0    6017
1    2939
Name: isPlural, dtype: int64

In [4]:
df_singular = df[df['isPlural'] == 0]
df_singular.sort_values(by='stim_SLlg10wf', ascending=False)[['stim', 'stim_SLlg10wf', 'BLPbncfrequencymillion', 'fbusfreq', 'fbukfreq']].head(10)

            stim  stim_SLlg10wf  BLPbncfrequencymillion  fbusfreq   fbukfreq
5324     someone         4.3570              186.810000  763494.3   641109.6
979     somebody         4.2448                     NaN  168947.0    47586.5
1437     goodbye         3.7740               14.880000   32904.2    50281.4
8372   somewhere         3.7550               70.260002   59616.3    64377.2
2024    birthday         3.6954               32.470001  745402.4  1264823.8
5248   afternoon         3.6690                     NaN   92146.9   233438.4
2783  girlfriend         3.5891               11.740000   68411.1    72770.0
2784   boyfriend         3.5664               10.930000   83853.7    78783.8
3316    bullshit         3.5488                1.480000   83515.7    38659.6
6614    bullshit         3.5488                1.480000   83515.7    38659.6

In [5]:
in_corpus_columns = [col for col in df_singular.columns if col.startswith('in')]
in_corpus_columns

['inSUBTLEX', 'inBLP', 'inELP', 'inJuhaszLaiWoodcock']

In [6]:
df_singular[in_corpus_columns].describe()

         inSUBTLEX        inBLP        inELP  inJuhaszLaiWoodcock
count  6017.000000  6017.000000  6017.000000          6017.000000
mean      0.584344     0.280705     0.435765             0.083430
std       0.492876     0.449381     0.495898             0.276554
min       0.000000     0.000000     0.000000             0.000000
25%       0.000000     0.000000     0.000000             0.000000
50%       1.000000     0.000000     0.000000             0.000000
75%       1.000000     1.000000     1.000000             0.000000
max       1.000000     1.000000     1.000000             1.000000

In [18]:
# There are some duplicates in the data (eg bullshit = bull + shit, or bullshit = bulls + hit)
# Display compounds with the same name
df_duplicated = df_singular[df_singular.duplicated(subset=['stim'], keep=False)].sort_values('stim')
df_duplicated

,id_master,c1,c2,stim,obs,obsc1,obsc2,stimlen,c1len,c2len,...,Juhasz_tran,st_c1_mean,st_c2_mean,Zipfvalue,c1_SLlg10wf,c2_SLlg10wf,c1_BLPbncfrequency,c1_BLPbncfrequencymillion,c2_BLPbncfrequency,c2_BLPbncfrequencymillion
3319,23,afters,hock,aftershock,2,3,3,10,6,4,...,NaN,NaN,NaN,2.405777,0.6021,2.0453,21.0,0.210000,54.0,0.540000
6615,22,after,shock,aftershock,1,1,2,10,5,5,...,NaN,NaN,NaN,2.405777,4.5417,3.1670,117138.0,1171.380000,4406.0,44.060001
1932,44,air,crewman,aircrewman,2,58,1,10,3,7,...,NaN,NaN,NaN,NaN,3.8507,1.7076,19076.0,190.759990,53.0,0.530000
4708,45,aircrew,man,aircrewman,1,1,32,10,7,3,...,NaN,NaN,NaN,NaN,0.6021,4.9737,100.0,1.000000,62098.0,620.979980
1926,83,airs,crew,airscrew,1,2,1,8,4,4,...,NaN,NaN,NaN,NaN,1.6021,3.3847,138.0,1.380000,3063.0,30.629999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6906,8835,work,space,workspace,2,45,6,9,4,5,...,NaN,NaN,NaN,2.467925,4.6096,3.5276,91354.0,913.539980,12654.0,126.540000
7618,8876,yards,tick,yardstick,1,1,8,9,5,4,...,5.87,4.031,3.433,2.547107,2.8814,2.5694,3678.0,36.779999,607.0,6.070000
7115,8877,yard,stick,yardstick,2,12,19,9,4,5,...,5.87,4.031,3.433,2.547107,3.1069,3.6950,3267.0,32.669998,4357.0,43.570000
5896,8897,zoos,pore,zoospore,1,1,2,8,4,4,...,NaN,NaN,NaN,NaN,1.6021,1.3979,NaN,NaN,272.0,2.720000
6956,8898,zoo,spore,zoospore,2,8,3,8,3,5,...,NaN,NaN,NaN,NaN,2.8432,0.9031,768.0,7.680000,27.0,0.270000

In [20]:
df_duplicated[df_duplicated['correctParse'] == "yes"]

,id_master,c1,c2,stim,obs,obsc1,obsc2,stimlen,c1len,c2len,...,Juhasz_tran,st_c1_mean,st_c2_mean,Zipfvalue,c1_SLlg10wf,c2_SLlg10wf,c1_BLPbncfrequency,c1_BLPbncfrequencymillion,c2_BLPbncfrequency,c2_BLPbncfrequencymillion
6615,22,after,shock,aftershock,1,1,2,10,5,5,...,NaN,NaN,NaN,2.405777,4.5417,3.1670,117138.0,1171.380000,4406.0,44.060001
1932,44,air,crewman,aircrewman,2,58,1,10,3,7,...,NaN,NaN,NaN,NaN,3.8507,1.7076,19076.0,190.759990,53.0,0.530000
4708,45,aircrew,man,aircrewman,1,1,32,10,7,3,...,NaN,NaN,NaN,NaN,0.6021,4.9737,100.0,1.000000,62098.0,620.979980
6412,84,air,screw,airscrew,2,60,2,8,3,5,...,NaN,NaN,NaN,NaN,3.8507,3.2817,19076.0,190.759990,747.0,7.470000
6595,85,air,ship,airship,1,31,115,7,3,4,...,NaN,4.469,4.000,2.783196,3.8507,3.7028,19076.0,190.759990,4729.0,47.290001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6408,8769,wood,screw,woodscrew,2,42,4,9,4,5,...,NaN,NaN,NaN,NaN,3.1392,3.2817,7357.0,73.570000,747.0,7.470000
6643,8832,work,shop,workshop,1,34,6,8,4,4,...,NaN,4.156,4.069,3.450197,4.6096,3.4365,91354.0,913.539980,10745.0,107.450000
6906,8835,work,space,workspace,2,45,6,9,4,5,...,NaN,NaN,NaN,2.467925,4.6096,3.5276,91354.0,913.539980,12654.0,126.540000
7115,8877,yard,stick,yardstick,2,12,19,9,4,5,...,5.87,4.031,3.433,2.547107,3.1069,3.6950,3267.0,32.669998,4357.0,43.570000
6956,8898,zoo,spore,zoospore,2,8,3,8,3,5,...,NaN,NaN,NaN,NaN,2.8432,0.9031,768.0,7.680000,27.0,0.270000

In [23]:
df_singular_correct = df_singular[df_singular['correctParse'] == "yes"]
len(df_singular_correct)

5625

In [25]:
df_singular_correct["inSUBTLEX"].sum()

3276